{% extends "bloodbank/base_bloodbank.html" %}

{% block extra_css %}
<style>
 
  thead{
    background:rgb(255, 179, 179);
  }
  h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top:40px;
  }
  table{
    margin-top:20px;
    margin-left:50px;
    border-radius: 50px ;
  }
</style>
{% endblock extra_css %}

{% block content %}

<div class="container">
  <h1 class="text-center fw-bold text-danger">Donation History</h1>
  <br>
  <table class="table table-striped shadow p-4 mb-4 bg-white p-4">
      <thead class="text-white bg-danger">
        <tr>
          <th>Donor Name</th>
          <th>Donation Date</th>
          <th>Email</th>
          <th>Phone No.</th>
          <th>Blood Group</th>
          <th>City</th>
        </tr>
      </thead>
      <tbody>
        {% for blood in bloodbank %}
        <tr>
          <td>{{blood.donor.name|title}}</td>
          <td>{{blood.donation_date|date}}</td>
          <td>{{blood.donor}}</td>
          <td>{{blood.donor.phone_number}}</td>
          <td>{{blood.donor.blood_group.blood_group}}</td>
          <td>{{blood.donor.city|title}}</td>
        </tr>
        {% endfor %}
       
      </tbody>
    </table>
    
</div>
{% endblock content %}