{% extends "bloodbank/base_bloodbank.html" %}
{% load static %}
{% block extra_css %}
<style>
   
</style>
{% endblock extra_css %}

{% block content %}
<section class="vh-100" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-8 mb-lg-0">
          <div class="card mb-5 mb-5" style="border-radius: .5rem; margin-top:110px; background-color:#f4f5f7;">
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem; background-color: #c62526;">
                
              <a href="{% url 'bloodbank_logo_update' request.user.bloodbank.id %}">
                    <img src="{{ bloodbank.logo.url }}"
                        alt="Avatar" class="img-fluid my-5" style="width: 150px; height:150px; border-radius: 50%;">
                </a><br>
                <h2><b>{{ bloodbank.user.name |title }}</b></h2></br>
                
                <h1><a href="{% url 'bloodbank_profile_update' request.user.bloodbank.id %}"><i class="far fa-edit mb-5" style="color:white"></i></a></h1>
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h3><b>Information</b></h3>
                  <hr class="mt-0 mb-4">

                  <div class="row pt-1">
                    <div class="col-8 mb-3">
                      <h5><b>Email</b></h5>
                      <p class="text-muted">{{ bloodbank.user.email }}</p>
                    </div>
                  </div>
                  
                  <div class="row pt-1">
                    <div class="col-12 mb-3">
                      <h5><b>Address</b></h5>
                      <p class="text-muted">{{bloodbank.user.address}}, {{bloodbank.user.city}}, {{bloodbank.user.state}} - {{bloodbank.user.pincode}} </p>
                    </div>
                  </div>
                  <div class="row pt-1">

                  <div class="col-6 mb-3">
                    <h5><b>Phone</b></h5>
                    <p class="text-muted">{{ bloodbank.user.phone_number }}</p>
                  </div>

                  </div>
                    <div class="col-6 mb-3">
                      <h5 class="text-white"><b>.</b></h5>
                    </div>               
                  </div>

                  <div>
                  <div class="col-6 mb-3">
                    <h5 class="text-white"><b>.</b></h5>
                  </div>                
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}