{% extends "bloodbank/base_bloodbank.html" %}

{% block extra_css %}
<style>
  .card{
    margin-left:350px;
    width:600px;
    border: 4px solid #000000;
    border-radius: 10px; 
  }
  b{
    padding-left:12px;
  }
</style>

{% endblock extra_css %}


{% block content %}
<br><br>
  <div class="container mt-4">
    <div class="row">
      
      {% for user in object_list %}
          <div class="card ">
            <div class="card-header bg-danger text-center">
              <h1 class="card-title text-white"><b>{{user.name|title}}</b></h1>
            </div>

            <div class="card-header">
              <h4 class="card-subtitle mb-2">BloodGroup:- <b>{{ user.blood_group.blood_group }}</b></h4>
            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">Email :- <b>{{ user.email }}</b></li>
              <li class="list-group-item">Mobile No :- <b>{{ user.phone_number }}</b></li>
              <li class="list-group-item">Address :- <b>{{ user.city|title }}, {{ user.state|title }} {{ user.pincode }}</b></li>
              
              {% if user.latest_donation_date %}
                <li class="list-group-item">
                    Latest Donation :- <b>{{ user.latest_donation_date|date }}</b>
                </li>
                        
                <li class="list-group-item">
                    BloodBank :- <b>{{ user.donation.first.bloodbank|title }}</b>
                </li>
                        
                {% with next_donation=user.latest_donation_date|add:timedelta %}
                    <li class="list-group-item">
                        Next Donation :- <b>{{ next_donation|date}}</b>
                    </li>
                                              
                    {% if next_donation|date <= today|date %}
                        <li class="list-group-item text-center">
                            <button type="submit" class="btn btn-danger" ><a href="{% url 'donation_form' %}">Donat Now</a></button>
                        </li>
                    {% else %}
                        <script>
                            var user = ('{{user.name}}')
                            var nextDonation = ('{{next_donation|date}}')
                            alert(user + ' you can donate the blood after ' + nextDonation + ' date.');
                        </script>
                        
                        <li class="list-group-item text-center">
                            <a href="{% url 'donation_form' %}"><button type="submit" class="btn btn-danger" disabled>Donat Now</button></a>
                        </li>
                    {% endif %}
                {% endwith %}
              {% else %}
                <script>
                    alert('No donation found.');
                </script>
                <li class="list-group-item text-center">
                  <a href="{% url 'donation_form' %}"><button type="submit" class="btn btn-danger">Donat Now</button></a>
                </li>
              {% endif %}

          
            </ul>
          </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}