<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <style>
    * {
      margin: 0;
      box-sizing: border-box;
    }
    .verify-num{
      font-size: 54px;
    }
    .verify-code{
      font-size: 24px;
    }
    @media (max-width:600px) {
      .verify-code{
        font-size: 18px !important;
      }
      .verify-num{
      font-size: 40px !important;
    }
    .logo{
      display: none !important;
    }
    }
  
  </style>
</head>

<body width="100%" bgcolor="#ffffff" style="background-color: #ffffff; margin: 0;">
  <table cellspacing="0" cellpadding="0" align="center" width="100%"
    style="width: 100%; background-color: #ffffff; margin:0 auto; border-collapse:collapse; border:0; font-family: Roboto;">
    <tr>
      <td style="padding: 81px 0;" align="center">
        <table border="0" width="680" cellpadding="0" cellspacing="0" bgcolor="#5F5F5" style="margin:0 auto; 
            background-color:lightgrey; max-width: 680px !important;
						min-width: 680px!important; width: 680px !important;" align="center">
          <tbody>
            <tr>
              <td align="center">
                <div style="padding: 40px 40px 40px; background:url(https://www.linkpicture.com/q/background_33.png) no-repeat top center,linear-gradient({{merchant.primary_color}} 50%, #f2f2f2 50%) ; ">
                <div style="">

                  <div style="background-color: #ffffff;border-radius: 20px 20px 0 0;padding: 60px 20px 0;">
              
                <div style="background-color: #ffffff;border-radius: 20px 20px 0 0;padding: 0px 20px 0;">
                 
                  <div style="width: 123px;height: 123px;margin: 0 auto 20px;">
                    <img src="https://cdn-icons-png.flaticon.com/512/2590/2590807.png" width="100%" alt="Email" />
                  </div>
                  <h4 class="verify-code" style="font-family: 'Poppins';font-style: normal;font-size: 24px;font-weight: 500;
                  line-height: 36px;color: #282828;margin-bottom:20px;"> Here is your BloodBank Credentials</h4>
                  <table class="width:100%" border="0" style="border: none;padding: 0;margin: 0;margin-left: -3px;">
                    <tbody>
                      <tr>
                        <td>
                          <p
                            style="font-family: 'Poppins';font-weight: 500;font-size: 20px;line-height: 21px;color: #282828;">
                            Use
                            Log In ID:</p>
                        </td>
                        <td>
                          <p
                            style="font-family: 'Poppins';font-weight: 400;font-size: 20px;line-height: 21px;padding-left: 16px;color: #000000;">
                            loksamarpan@gmail.com</p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p
                            style="font-family: 'Poppins';font-weight: 500;font-size: 20px;line-height: 21px;color: #282828">
                            Your
                            Password:</p>
                        </td>
                        <td>
                          <p
                            style="font-family: 'Poppins';font-weight: 400;font-size: 20px;line-height: 21px;padding-left: 16px;color: #000000;">
                            hJil83pn</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                 
                  </div>

                </div>
                <div style="">
                  <div style="background-color: #ffffff;border-radius: 0 0 20px 20px;padding: 0 20px 60px; border-bottom: 10px solid {%if merchant.primary_color%} {{merchant.primary_color}} {% else %}#34156C;{% endif %}">
                    <div style="padding-top: 50px;">
                      <img src="https://i.ibb.co/pKGt9gq/logo2.png" width="auto" alt="Bustto" style="height: 90px; color:red" />
                    </div>
                </div>
              </div>
              <div style="margin: 24px 0px  0px;">
                <h6 style="font-family: 'Poppins';font-style: normal;font-weight: 500;
                font-size: 12px;line-height: 18px;letter-spacing: 0.15em;color: #343A40;margin-bottom: 11px;">FOLLOW
                  US</h6>
                  
              <div style="margin: 24px 0px  0px;">
                  <!-- <p style="font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 12px;
                  line-height: 18px;color: #242424;margin-bottom: 4px;"> </p> -->
                  <div style="margin-bottom: 5px;">
                    <a href="" style="display: inline-block;font-family: 'Poppins';font-style: normal;
                    font-weight: 500;font-size: 12px;line-height: 18px;color: #242424;text-decoration: none;">Website Terms and Condition</a> |
                      <a href="" style="display: inline-block;font-family: 'Poppins';font-style: normal;
                      font-weight: 500;font-size: 12px;line-height: 18px;color: #242424;text-decoration: none;">User Terms & Conditions</a> |
                        <a href="" style="display: inline-block;font-family: 'Poppins';font-style: normal;
                        font-weight: 500;font-size: 12px;line-height: 18px;color: #242424;text-decoration: none;">Privacy Policy</a> 
                  </div>
                <div>
                  <a href="" style="display: inline-block;font-family: 'Poppins';font-style: normal;
                  font-weight: 500;font-size: 12px;line-height: 18px;color: #242424;text-decoration: none;">© 2023 </a> 
                  <a href="" style="display: inline-block;font-family: 'Poppins';font-style: normal;
                  font-weight: 500;font-size: 12px;line-height: 18px;color: #242424;">BloodDroup.com</a > 
                  <a href="" style="display: inline-block;font-family: 'Poppins';font-style: normal;"></a>
                </div>
              </div>
                </div>

                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

