{% extends "admin/base.html" %}
{% block extrastyle %}
<style>

#header {
    flex-direction: column;
    padding: 15px 30px;
    justify-content: flex-start; 
    background-color: rgb(224, 129, 129);
}
div.breadcrumbs {
    background: var(--breadcrumbs-bg);
    padding: 10px 40px;
    border: none;
    color: var(--breadcrumbs-fg);
    text-align: left;
    background-color: #c62526;
}
.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 0.8125rem;
    text-align: left;
    background:#c62526;
    color: var(--header-link-color);
}
a:link, a:visited {
    color:  rgb(224, 129, 129);
    text-decoration: none;
    transition: color 0.15s, background 0.15s;
}
.button.default, input[type=submit].default, .submit-row input.default {
    border: none;
    font-weight: 400;
    background: var(--default-button-bg);
}
.button.default, input[type=submit].default, .submit-row input.default {
    border: none;
    font-weight: 400;
    background: rgb(25, 137, 25);
}
.button.default:hover,input[type=submit].default:hover,.submit-row input.default:hover {
    background-color: rgb(9, 85, 9);
}
.object-tools a:link, .object-tools a:visited {
    display: block;
    float: left;
    padding: 3px 12px;
    background:  rgb(224, 129, 129);
    color: var(--object-tools-fg);
    font-weight: 400;
    font-size: 0.6875rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
#changelist-filter details > summary::before {
    content: '→';
    font-weight: bold;
    color: red !important;
}
#changelist-filter li.selected a {
    color: rgb(224, 129, 129)!important;
}
.main.shifted .toggle-nav-sidebar::before {
    content: '\00AB';
    color: rgb(224, 129, 129)!important;
}
.toggle-nav-sidebar::before {
    content: '\00BB';
    color: rgb(224, 129, 129)!important;
}


/* aapdi  image aapvani 6 */
.datetimeshortcuts .clock-icon {
    background: url(../img/icon-clock.svg) 0 0 no-repeat;
}
/* aapdi  image aapvani 6 */
.datetimeshortcuts .date-icon {
    background: url(../img/icon-calendar.svg) 0 0 no-repeat;
    top: -1px;
}

#user-tools {
    margin: 0;
    font-weight: 5000;
    line-height: 1.85;
    text-align: left;
    color: #eae3e3;
    font-weight: bold;

}
#header a:link, #header a:visited, #logout-form button {
    color:#eae3e3;
    font-weight: bold;
}
.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background:  rgb(224, 129, 129);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: var(--button-fg);
    cursor: pointer;
    transition: background 0.15s;
}
.button:hover,input[type=submit]:hover,input[type=button]:hover,.submit-row input:hover,a.button:hover {
    background:   rgb(206, 93, 93); 

}


.button, input[type=submit], input[type=button], .submit-row input, a.button {
    padding: 12px;
}
.theme-toggle svg.theme-icon-when-auto, .theme-toggle svg.theme-icon-when-dark, .theme-toggle svg.theme-icon-when-light {
    fill: var(--header-link-color);
    color:#e8460b;
}
#content-related .module h2 {
    background: none;
    padding: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--hairline-color);
    font-size: 1.125rem;
    color:  rgb(224, 129, 129);
    size: 50px;
}

</style>
{% endblock %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_admin.css' %}">
{% endblock %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}


{% block branding %}
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'images/logo2.png' %}" alt="" style="max-height: 50px; ">
    </a>
{% endblock %}

{% block nav-global %}{% endblock %}