{% extends "user/base.html" %}

{% block extra_css %}

<style>
  table{
    border-radius: 50px ;
  }
  thead{
    background:rgb(255, 179, 179);
  }
  h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top:40px;
  }
  table{
    margin-top:20px;
    margin-left:50px;
  }
</style>

{% endblock extra_css %}

{% block content %}
<br><br>
<div class="container">
    <h1 class="text-center fw-bold text-danger">Donation History</h1>
    <br>
    <table class="table table-striped shadow p-4 mb-4 bg-white p-4">
        <thead class="text-white bg-danger">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Bloodgroup</th>
            <th scope="col">Donation Date</th>
            <th scope="col">Blood Bank</th>
            <th scope="col">Certificate</th>
          </tr>
        </thead>
        <tbody>
                {% if donations %}
                    {% for donation in donations %}
                    <tr>
                        <td>{{ user.name|title }}</td>
                        <td>{{ user.blood_group.blood_group }}</td>
                        <td>{{ donation.donation_date }} </td>
                        <td>{{ donation.bloodbank }}</td>
                        <td><a href="{% url 'certificate' donation.id %}"><button type='button' class='btn btn-warning' >Download</button></a></td>
                    </tr>
                    {% endfor %}
                {% else %}
                    No donation found
                {% endif %}           
        </tbody>
      </table>
</div>
<br><br><br><br><br><br>
{% endblock content %}